<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwConfigExceptions="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="AppName" value="AppName />

  <extensions>
    <add assembly="NLog.Web"/>
    <add assembly="Lib.Log"/>
  </extensions>
    
  <targets>
    <target xsi:type="FallbackGroup" name="all" returnToFirstOnSuccess="true">
      <!-- First Target Database -->
      <target name="Database" xsi:type="Database" keepConnection="false"
                  dbProvider="Oracle.ManagedDataAccess.Client.OracleConnection, Oracle.ManagedDataAccess"
                  connectionString="User Id=nombre;Password=pass;Data Source=IP:Port/orcl"
                  commandType="Text">

        <commandText>
          INSERT INTO TABLE_LOG
          (DATE_, APP, VERSION, DEVICE, LEVEL_, IPADDRESS, REQUEST_URL, USRLOGIN,
          LOGGER, METHOD, MESSAGE, EXCEPTION, PROPERTIES, SOURCEFILEPATH, SOURCELINENUMBER)
          VALUES(:date_time, :app_, :app_version, :device, :log_level, :ip_addr, :request_url, :usr_login,
          :logger, :method, :message, :exception_, :properties, :source_file_path, :line_number)
        </commandText>

        <parameter name="date_time" layout="${date:format=dd/MM/yyyy HH\:mm\:ss,fff}" />
        <parameter name="app_" layout="${AppName}" />
        <parameter name="app_version" layout="${assembly-version}" />
        <parameter name="device" layout="${event-properties:item=Device}" />
        <parameter name="log_level" layout="${level:upperCase=true}"/>
        <parameter name="ip_addr" layout="${aspnet-request-ip}" />
        <parameter name="request_url" layout="${aspnet-request-url}" />
        <parameter name="usr_login" layout="${aspnet-user-identity}" />
        <parameter name="logger" layout="${callsite:className=true:includeNamespace=true:includeSourcePath=false:methodName=false}"/>
        <parameter name="method_" layout="${callsite:className=false:includeNamespace=false:includeSourcePath=false:methodName=true}"/>
        <parameter name="message" layout="${message}" />
        <parameter name="exception_" layout="${customException:format=ToString,data:exceptionDataSeparator=|}"/>
        <parameter name="properties" layout="${all-event-properties:includeEmptyValues=false:exclude=Device}"/>
        <parameter name="source_file_path" layout="${callsite:className=false:includeNamespace=false:fileName=true:methodName=false}" />
        <parameter name="line_number" layout="${callsite-linenumber}" />
      </target>
      
      <!-- Second Target if fails -->
        <target name="csvFile" xsi:type="File" encoding="utf-8"
                fileName="${basedir}/logs/csvLog.csv"
                archiveFileName="${basedir}/logs/csvLog.{#}.csv"
                archiveAboveSize="4000000"
                archiveNumbering="DateAndSequence"
                archiveDateFormat="yyyyMMdd">
          <layout xsi:type="CsvLayout" delimiter="Semicolon" withHeader="true">
            <column name="DateTime" layout="${longdate}" />
            <column name="App" layout="${AppName}" />
            <column name="Version" layout="${assembly-version}" />
            <column name="Device" layout="${event-properties:item=Device}" />
            <column name="Level" layout="${level:upperCase=true}"/>
            <column name="Logger" layout="${logger:shortName=false}"/>
            <column name="IPAddress" layout="${aspnet-request-ip}" />
            <column name="RequestUrl" layout="${aspnet-request-url}" />
            <column name="UserLogin" layout="${aspnet-user-identity}" />
            <column name="Logger" layout="${callsite:className=true:includeNamespace=true:includeSourcePath=false:methodName=false}"/>
            <column name="Method" layout="${callsite:className=false:includeNamespace=false:includeSourcePath=false:methodName=true}"/>
            <column name="Message" layout="${message}" />
            <column name="Exception" layout="${exception:format=ToString,data:exceptionDataSeparator=|}"/>
            <column name="Properties" layout="${all-event-properties:includeEmptyValues=false:exclude=Device}"/>
            <column name="SourceFilePath" layout="${callsite:className=false:includeNamespace=false:fileName=true:methodName=false}" />
            <column name="LineNumber" layout="${callsite-linenumber}" />
          </layout>
      </target>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="all" />
  </rules>
</nlog>
